.noscroll { 
    overflow: hidden;
    transition:  10s;
  }
  .noscroll-active{ 
    overflow: hidden;
    transition:  10s;
    height: auto;
    width: auto;
  }
.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
  content: '';
  border: 1em solid #00b0dc;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.to-hide {
  -webkit-animation: hide 2s forwards;
  animation: hide 2s forwards;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}
.logo {
  padding-left: 100px;
  padding-top: 20px;
 
  font-size: 31px;
  letter-spacing: 3px;
  color: #ecf7a4;
  font-weight: 400;
}
.nav-button {
  padding-right: 120px;
  padding-top: 20px;
}
.float-right {
  float: right !important;
}
.nav-button .btn-line {
  width: 38px;
  height: 2px;
  background: #fff;
  display: flex;
  margin-bottom: 10px;
}
.menu-area {
  position: fixed;
  right: 0;
  top: 0;
 z-index: 99;
  width: 100%;
  height: auto;
  transition: 0.3s; 
}
.logo-area, .expand-btn-area{
    z-index: 999;
    transition: 0.5s; 
}

.menu-area-active {
    height: 100%;
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.7);
 
 
}
.particle-area{
    opacity: 1;
    transition: opacity 1s;
 }
.nav-area {
  width: 100%;
  height: 100%;

  z-index: 999;
  transition: 0.5s; 
}
.nav-area nav{
    float: right;
    padding-right: 120px;
    padding-top: 60px;
    width:30%;
}
.nav li {
    padding-bottom: 30px;
}
.nav li a {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.6s;
    position: relative;
}

.nav li.active a{
    font-size: 20px;
    color: #e5f56f;
    padding-left: 8rem;
    text-decoration: none;
}
.nav li.active a::before{
    position: absolute;
    content: "";
    width: 65px;
    height: 2px;
    background: #e5f56f;
    left: 8%;
    top: 50%;
    transition: 0.3s;
}
.nav li a:hover {
    padding-left: 8rem;
    text-decoration: none;
}
.nav li a:hover::before{
  width: 65px;
}
.nav li a::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    background: #e5f56f;
    left: 8%;
    top: 50%;
    transition: 0.3s;
}

.sticky_navigation {
    background: rgba(0, 0, 0, 0.68);
    height: 80px;
}

.menu-area.sticky_navigation.menu-area-active{
    
    height: 100vh;
}
.sticky_navigation {
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25); 
     box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
}
/* 
.main-menu {
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-top: 10px;
}
.nav-area {
    height: 65px;
}
.navbar-nav{
    margin-top: 15px;
}

.navbar-right li {
    display: inline-block;
    float: none;
}

.navbar-right li.active a {
    color: #e5f56f;
}
.navbar-right li a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size:14px;
}

.navbar-brand {
    padding: 25px 0;
    text-transform: uppercase;
    font-size: 25px;
    display: block;
    color: #ffffff;
    font-weight: 800;
}
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    background: none;
}

.navbar-brand {
    padding: 25px 0;
    text-transform: uppercase;
    font-size: 25px;
    display: block;
    color: #ffffff;
    font-weight: 800;
}
.navbar-cus{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-header{
    margin-right: 22%;
}
.logo span {
    color: #00b0dc;
}
.sticky_navigation .navbar-brand:hover, .sticky_navigation .navbar-brand:focus, .sticky_navigation .navbar-brand span {
    color: #262626;
}
.sticky_navigation .navbar-brand, .sticky_navigation .navbar-brand span {
    color: #000000;
}
.logo {
    padding: 5px;
    font-size: 31px;
    letter-spacing: 3px;
    color: #ecf7a4;
    font-weight: 400;
}
.sticky_navigation .logo span {
    color: #00b0dc;
}
.sticky_navigation .navbar-brand:hover, .sticky_navigation .navbar-brand:focus, .sticky_navigation .navbar-brand span {
    color: #e5f56f;
}
.sticky_navigation .navbar-brand, .sticky_navigation .navbar-brand span {
    color: #e5f56f;
}
.nav-area.sticky_navigation {
    background: rgba(0, 0, 0, 0.88);
    height: 80px;
}
.sticky_navigation {
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25); 
     box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
}

.sticky_navigation .nav li a {
    color: white;
}
.sticky_navigation .nav li.active::after {
    border-bottom: 1px solid #e5f56f;
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
}
.sticky_navigation .nav li.active a {
    color: #e5f56f;
     color:black; 
}
.sticky_navigation .main-menu {
    margin-top: 0;
}

.sticky_navigation .navbar-brand, .sticky_navigation .navbar-brand span {
    color: #e5f56f;
}
.sticky_navigation .logo span {
    color: #00b0dc;
}
.navbar-toggle-custom{
    background-color: red;
    color:white; 
}
*/
/*--- 3. Mouse animation starts---*/
.social-mouse-area{
    display: flex;
    height: 50%;
    flex-direction: column;
}
.social-icon-list{
    display: flex;
 
    justify-content: center;
}
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.mouse-scroll {
  position: absolute;
  left: 48%;
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 5%;
  text-decoration: none;
  overflow: hidden;
}

.mouse-scroll .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 60px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  border-radius: 23px;
}

.mouse-scroll .mouse .mouse-movement {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-animation: scroll-ani 2s linear infinite;
  animation: scroll-ani 2s linear infinite;
}

/*----------- 5. Banner area css starts--------------*/

.banner_home {
  height: 100vh;
  background-image: url('/images/bw.jpg');
  background-size: cover;
  position: relative;
  background-position: 50% 65%;
}

.banner_home::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  content: '';
}

.img-area {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  display: inline-block;
}

.banner-area b {
  font-weight: 100;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-table {
  display: flex;

  margin: 0;
  position: relative;
  height: 50%;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.banner-table-cell {
 
  vertical-align: middle;
  text-align: center;
}

.welcome-text .intro h2 {
  color: #fff;
  font-size: 85px;
  font-weight: 800;
  margin-bottom: 10px;
}

.intro h1 {
  color: #fafafa;
  font-size: 18px;
  font-weight: 100;
  margin: 0;
}

.social-icon {
  text-align: center;
  margin-top: 60px;
}

.social-icon ul {
  margin: 0;
  padding: 0;
}

.social-icon ul li {
  display: inline;
  padding: 0;
  margin: 0 2em;
}

.social-icon ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
   
    transition: all 300ms linear;
    color: black;
    padding: 15px;
    background: #ecf7a4;
    font-weight: bolder;
}

.social-icon ul li a i {
   font-weight: 900;
}

.banner-btn {
  background: transparent;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
  border: 2px solid #fafafa;
  font-weight: bold;
}
.banner-btn:hover,
.banner-btn:focus {
  text-decoration: none;
  color: #333;
  background: #fafafa;
  border-color: #fafafa;
}

.welcome-text h3 {
  color: #fff;
  font-size: 45px;
}

/*---------Banner area css ends--------------*/

.cd-intro {
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 5em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    margin: 6em auto;
  }
}
.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  color:white;
  font-weight: 0;
  font-size: 70px;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}
/* -------------------------------- 
  
  xclip 
  
  -------------------------------- */

.cd-headline.clip span {
  display: inline-block;
  padding: 0.2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #3d3d3d;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}


/* Hamburger btn and expand menu */
.hamburger {
    position: relative;
    z-index: 9000;
    width: 2.5em;
    height: 2.5em;
    outline: none !important;
    border:none;
    background: transparent;
    padding: 0 !important;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  
  .hamburger__line {
    content: " ";
    display: block;
    width: 100%;
    height: 0.1875em;
    background: #e5f56f;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
  }
  .hamburger__line:last-child {
    margin-bottom: 0;
  }
  
  .hamburger--steps .hamburger__line {
    -webkit-transition: width 0.12s ease-in-out;
    transition: width 0.12s ease-in-out;
  }
  .hamburger--steps .hamburger__line:nth-child(2) {
    width: 80%;
  }
  .hamburger--steps .hamburger__line:last-child {
    width: 55%;
  }
  
  .hamburger--steps-right .hamburger__line {
    float: right;
  }
  
  .hamburger--steps:hover .hamburger__line {
    width: 100%;
  }
  
  .hamburger--active.hamburger--steps .hamburger__line {
    -webkit-transition: none;
    transition: none;
    width: 100%;
  }
  
  .hamburger--active .hamburger__line {
    position: absolute;
    top: 0.8em;
    margin: 0;
    background: #e5f56f;
  }
  .hamburger--active .hamburger__line:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger--active .hamburger__line:nth-child(2) {
    display: none;
  }
  .hamburger--active .hamburger__line:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  

  
.button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
   
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background: transparent;
    color: #e55743;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    -webkit-transition: background 0.8s ease;
    transition: background 0.8s ease;
  }
  .button:hover {
    background: rgba(100, 0, 0, 0.03);
  }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    will-change: transform;
  }
  .button__horizontal::before, .button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
  }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
  .button:hover .button__horizontal {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
  .button:hover .button__vertical {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  